@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: 'League Spartan', sans-serif;
        scroll-behavior: smooth;
    }
}

@layer components {
    .title {
        font-family: "basenji-variable", sans-serif;
        font-variation-settings: "ital" 0, "wght" 400;
    }
}


.productCollect[data-color="Apple"]:hover {
    border-color: #afe48d;
    background-color: rgb(216, 255, 216);
    transition: 400ms;
    transition-timing-function: ease;
  }

.productCollect[data-color="Peach"]:hover {
    border-color: #f3cf81;
    background-color: rgb(255, 246, 216);
    transition: 400ms;
    transition-timing-function: ease;
  }

.productCollect[data-color="greengo"]:hover {
    border-color: #89db9b;
    background-color: rgb(196, 250, 225);
    transition: 400ms;
    transition: all .2s ease-in;
  }

.waveTextAnimated {
    margin-top: 0.6em;
    font-size: 50px;
    text-align: center;
}

.waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
            animation: wave-text 1s ease-in-out infinite;
}
.waveTextAnimated span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.waveTextAnimated span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
.waveTextAnimated span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
.waveTextAnimated span:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
.waveTextAnimated span:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
.waveTextAnimated span:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
.waveTextAnimated span:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

@-webkit-keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  }
   
@keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  }

.wow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
 }