@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: 'League Spartan', sans-serif;
        scroll-behavior: smooth;
    }
}

@layer components {
    .title {
        font-family: "basenji-variable", sans-serif;
        font-variation-settings: "ital" 0, "wght" 400;
    }
}


.productCollect[data-color="Apple"]:hover {
    border-color: #afe48d;
    background-color: rgb(216, 255, 216);
    transition: 400ms;
    transition-timing-function: ease;
  }

.productCollect[data-color="Peach"]:hover {
    border-color: #f3cf81;
    background-color: rgb(255, 246, 216);
    transition: 400ms;
    transition-timing-function: ease;
  }

.productCollect[data-color="greengo"]:hover {
    border-color: #89db9b;
    background-color: rgb(196, 250, 225);
    transition: 400ms;
    transition: all .2s ease-in;
  }

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}